@model CadastroModel
@{
    ViewData["Title"] = "Excluir Cliente";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">Exclusão de Cadastro </a>.</p>
</div>


<a class="btn btn-primary" asp-route-id="@Model.Id" asp-controller="Cliente" asp-action="Excluir">Excr</a> 